<h1>Login Page</h1>
<form action="/Account/Login" method="post">
    <input type="text" name="username" />
    <input type="password" name="pass" />
    <button type="submit">Sign In</button>
</form>
